@page "/patients"
@using PatientsService.Http
@attribute [StreamRendering]

@rendermode InteractiveServer

<PageTitle>Patients</PageTitle>

<h1>Patients</h1>

<div class="col-sm-12 text-center">
    <Button Color="ButtonColor.Primary" @onclick="CreateRandomPatient">Create random patient</Button>
    <Button Color="ButtonColor.Danger"@onclick="DeleteTopPatient">Delete top patient</Button>
</div>
@if (_patients == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Date of birth</th>
        </tr>
        </thead>
        <tbody>
        @foreach (PatientDto patient in _patients)
        {
            <tr>
                <td>@patient.Id</td>
                <td>@patient.FirstName</td>
                <td>@patient.LastName</td>
                <td>@patient.DateOfBirth</td>
            </tr>
        }
        </tbody>
    </table>
}